<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<!-- <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}"> -->
{% endblock extra_css %}

{% block content %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kinslee Enterprises Limited - Index</title>
  {% comment %} <meta content="" name="description">
  <meta content="" name="keywords"> {% endcomment %}

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo2.ico' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        var links = document.querySelectorAll(".check-link");
        links.forEach(function(link) {
            link.addEventListener("click", function(event) {
                if (this.getAttribute("href") === "") {
                    event.preventDefault();
                }
            });
        });
    });
</script>
 
</head>

<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between position-relative">

      <div class="logo">
        <!-- <h1 class="text-light"><a href="index.html"><span>Kinslee</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/"><img src="{% static 'assets/img/logo3.png' %}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#missionvision">Vision & Mission</a></li>
          <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
          <li><a class="nav-link scrollto" href="#images">Finished Products</a></li>
          {% comment %} <li><a class="nav-link scrollto" href="#team">Team</a></li> {% endcomment %}
          
          <li class="dropdown"><a href="#"><span>Products</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for page in product_page %}
              <li class="dropdown"><a href="#"><span>{{page.name}}</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  {% for first_menu in page.productfirstmenu_set.all %}
                    <li class="dropdown"><a href="#"><span>{{first_menu.name}}</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        {% for second_menu in first_menu.productsecondmenu_set.all %}
                        <li class="dropdown"><a href="#"><span>{{second_menu.name}}</span> <i class="bi bi-chevron-right"></i></a>
                          <ul>
                            {% for third_menu in second_menu.productthirdmenu_set.all %}
                            <li class="dropdown"><a href="{{third_menu.url}}"><span>{{third_menu.title}}</span> <i class="bi bi-chevron-right"></i></a>
                            {%endfor%}
                          </ul>
                        {%endfor%}
                      </ul>
                  {%endfor%}
                </ul>
              </li>
              {%endfor%}
            </ul>
          </li>

          <li class="dropdown"><a href="#"><span>Specifications</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for productspec in productspecification %}
                {%if productspec.is_file%}
                  {% for block in productspec.file_upload %}
                    <li><a href="{{block.value.url}}">{{productspec.title}}</a></li>
                  {% endfor %}
                {% else %}
                  <li class="dropdown"><a href="#"><span>{{productspec.title}}</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      {% for first_menu in productspec.specificationfirstmenu_set.all %}
                        {%if first_menu.is_file%}
                          {% for block in first_menu.file_upload %}
                            <li><a href="{{block.value.url}}">{{first_menu.title}}</a></li>
                          {% endfor %}
                        {% else %}
                          <li class="dropdown"><a href="#"><span>{{first_menu.title}}</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                              {% for second_menu in first_menu.specificationsecondmenu_set.all %}
                                {%if second_menu.is_file%}
                                {% for block in second_menu.file_upload %}
                                  <li><a href="{{block.value.url}}">{{second_menu.title}}</a></li>
                                {% endfor %}
                                {% else %}
                                  <li class="dropdown"><a href="#"><span>{{second_menu.title}}</span> <i class="bi bi-chevron-right"></i></a>
                                {%endif%}
                              {%endfor%}
                            </ul>
                          </li>
                        {%endif%}
                      {%endfor%}
                    </ul>
                  </li>
                {%endif%}
              {% endfor %}
            
            </ul>
            
          </li>
          <!-- <li class="dropdown megamenu"><a href="#"><span>Mega Menu</span> <i class="bi bi-chevron-down"></i></a>
           
          </li> -->
          <li class="dropdown"><a href="#"><span>Material Safety Datasheet</span> <i class="bi bi-chevron-down"></i></a>
            
            <ul>
             {% for datasheet in productdatasheet %}
               {%if datasheet.is_file%}
                   {% for block in datasheet.file_upload %}
                     <li><a href="{{block.value.url}}">{{datasheet.title}}</a></li>
                   {% endfor %}
               {% else %}
                 <li class="dropdown"><a href="#"><span>{{datasheet.title}}</span> <i class="bi bi-chevron-right"></i></a>
                   <ul>
                     {% for first_menu in datasheet.datasheetfirstmenu_set.all %}
                       {%if first_menu.is_file%}
                         {% for block in first_menu.file_upload %}
                           <li><a href="{{block.value.url}}">{{first_menu.title}}</a></li>
                         {% endfor %}
                       {% else %}
                         <li class="dropdown"><a href="#"><span>{{first_menu.title}}</span> <i class="bi bi-chevron-right"></i></a>
                           <ul>
                             {% for second_menu in first_menu.datasheetsecondmenu_set.all %}
                               {%if second_menu.is_file%}
                               {% for block in second_menu.file_upload %}
                                 <li><a href="{{block.value.url}}">{{second_menu.title}}</a></li>
                               {% endfor %}
                               {% else %}
                                 <li class="dropdown"><a href="#"><span>{{second_menu.title}}</span> <i class="bi bi-chevron-right"></i></a>
                               {%endif%}
                             {%endfor%}
                           </ul>
                         </li>
                       {%endif%}
                     {%endfor%}
                   </ul>
               {%endif%}
             {% endfor %}
             </ul> 
           </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  {% image first_image.image original format-jpeg as slider %}
  <section id="hero" style="background: linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)), url({{slider.url}}) top center;">
    <div class="hero-container" data-aos="fade-up">
      <!-- <h1>Welcome to Squad</h1> -->
      <h4>{{first_image.caption}}</h4>
      <a href="#about" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>About Us</h2>
          <p>{{about.body|safe}}</p>
        </div>

    
      </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section id="missionvision" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Vision & Mission</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row">

          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Mission</a></h4>
              <p class="description">{{visionmission.mission|safe}}</p>
            </div>
          </div>


          <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Vision</a></h4>
              <p class="description">{{visionmission.vision|safe}}</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

   

   

    <!-- ======= Portfolio Section ======= -->
    <section id="images" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Finished Products</h2>
        </div>

      
        <div class="d-flex flex-row justify-content-between flex-column flex-sm-row align-items-center">
          <div class="carousel-box">
              <div id="carouselExampleCaptions1" class="carousel slide">
                
                 <div class="carousel-indicators">
                  {% for image in controllubricants %}
                      {% for block in image.images %}
                        {% if block.block_type == 'image_block' %}
                      <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"
                          aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                        {% endif %}
                      {% endfor %}
                  {% endfor %}
                  </div>
                  <div class="carousel-inner">
                    {% for image in controllubricants %}
                      {% for block in image.images %}
                        {% if block.block_type == 'image_block' %}
                          <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a href="{{ block.value.link }}" target="_blank" rel="noopener noreferrer" class="check-link">
                            {% image block.value.image width-600 class="d-block w-100 h-100"%}
                            
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                              <h5>{{ block.value.caption }}</h5>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
              <div class="p-2 fs-3 text-center fw-semibold">CONTROL LUBRICANTS</div>
          </div>
          <div class="carousel-box">
              <div id="carouselExampleCaptions2" class="carousel slide">
                  <div class="carousel-indicators">
                    {% for image in royallubricants %}
                    {% for block in image.images %}
                      {% if block.block_type == 'image_block' %}
                    <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"
                        aria-current="true" aria-label="Slide {{ forloop.counter0 }}"></button>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  </div>
                  <div class="carousel-inner">
                    {% for image in royallubricants %}
                      {% for block in image.images %}
                        {% if block.block_type == 'image_block' %}
                          <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a href="{{ block.value.link }}" target="_blank" rel="noopener noreferrer" class="check-link">
                            {% image block.value.image width-600 class="d-block w-100 h-100"%}
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                              <h5>{{ block.value.caption }}</h5>
                              {% comment %} <p>Image {{ forloop.counter }} of {{ controllubricants|length }}</p> {% endcomment %}
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div> 
              
          </div>
          <div class="p-2 fs-3 text-center fw-semibold">ROYAL LUBRICANTS</div>
        </div>


      </div>
    </section>

   

    <!-- ======= Team Section ======= -->
    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>{{self.address}}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>{{self.email}}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us/WhatsApp Us</h3>
              <p>{{self.phone}}</p>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.549923339085!2d114.16664552758643!3d22.276499519604446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404005d4787aa03%3A0x469575a8041cce5c!2sDominion%20Centre!5e0!3m2!1sen!2snp!4v1700938259429!5m2!1sen!2snp" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div> 

          <div class="col-lg-6">
            <form action="{% url 'submit_contact_form' %}" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-3"></div>
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3 class="logo">
                <a href="/">
                    <img src="{% static 'assets/img/logo2.png'%}" alt="Kinslee Logo" class="footer-logo">
                </a>
              </h3>
              <h3>Kinslee Enterprises Limited</h3>
              <p class="pb-3"><em>{{self.address}}</em></p>
              <p>
               
                <br>
                <strong>Phone/WhatsApp:</strong> {{self.phone}}<br>
                <strong>Email:</strong> {{self.email}}<br>
              </p>
             
            </div>
          </div>

          <div class="col-lg-4 col-md-3"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Kinslee Enterprises Limited</span></strong>. All Rights Reserved
      </div>
     
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>

{% endblock content %}
