<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<!-- <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}"> -->
{% endblock extra_css %}

{% block content %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kinslee Enterprises Limited - Index</title>
  {% comment %} <meta content="" name="description">
  <meta content="" name="keywords"> {% endcomment %}

  <!-- Favicons -->
  <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo2.ico' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        var links = document.querySelectorAll(".check-link");
        links.forEach(function(link) {
            link.addEventListener("click", function(event) {
                if (this.getAttribute("href") === "") {
                    event.preventDefault();
                }
            });
        });
    });
</script>
 
</head>

<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between position-relative">

      <div class="logo">
      
        <a href="/"><img src="{% static 'assets/img/logo3.png' %}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{page.get_parent.url}}#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{{page.get_parent.url}}#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="{{page.get_parent.url}}#missionvision">Vision & Mission</a></li>
          <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
          <li><a class="nav-link scrollto" href="{{page.get_parent.url}}#images">Finished Products</a></li>
          {% comment %} <li><a class="nav-link scrollto" href="#team">Team</a></li> {% endcomment %}
          <li class="dropdown"><a href="#"><span>Products Specifications</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for productspec in productspecification %}
                {%if productspec.is_file%}
                  {% for block in productspec.file_upload %}
                    <li><a href="{{block.value.url}}">{{productspec.title}}</a></li>
                  {% endfor %}
                {% else %}
                  <li class="dropdown"><a href="#"><span>{{productspec.title}}</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      {% for first_menu in productspec.specificationfirstmenu_set.all %}
                        {%if first_menu.is_file%}
                          {% for block in first_menu.file_upload %}
                            <li><a href="{{block.value.url}}">{{first_menu.title}}</a></li>
                          {% endfor %}
                        {% else %}
                          <li class="dropdown"><a href="#"><span>{{first_menu.title}}</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                              {% for second_menu in first_menu.specificationsecondmenu_set.all %}
                                {%if second_menu.is_file%}
                                {% for block in second_menu.file_upload %}
                                  <li><a href="{{block.value.url}}">{{second_menu.title}}</a></li>
                                {% endfor %}
                                {% else %}
                                  <li class="dropdown"><a href="#"><span>{{second_menu.title}}</span> <i class="bi bi-chevron-right"></i></a>
                                {%endif%}
                              {%endfor%}
                            </ul>
                          </li>
                        {%endif%}
                      {%endfor%}
                    </ul>
                  </li>
                {%endif%}
              {% endfor %}
            
            </ul>
          
          </li>
        
          <li class="dropdown"><a href="#"><span>Material Safety Datasheet</span> <i class="bi bi-chevron-down"></i></a>
            
            <ul>
             {% for datasheet in productdatasheet %}
               {%if datasheet.is_file%}
                   {% for block in datasheet.file_upload %}
                     <li><a href="{{block.value.url}}">{{datasheet.title}}</a></li>
                   {% endfor %}
               {% else %}
                 <li class="dropdown"><a href="#"><span>{{datasheet.title}}</span> <i class="bi bi-chevron-right"></i></a>
                   <ul>
                     {% for first_menu in datasheet.datasheetfirstmenu_set.all %}
                       {%if first_menu.is_file%}
                         {% for block in first_menu.file_upload %}
                           <li><a href="{{block.value.url}}">{{first_menu.title}}</a></li>
                         {% endfor %}
                       {% else %}
                         <li class="dropdown"><a href="#"><span>{{first_menu.title}}</span> <i class="bi bi-chevron-right"></i></a>
                           <ul>
                             {% for second_menu in first_menu.datasheetsecondmenu_set.all %}
                               {%if second_menu.is_file%}
                               {% for block in second_menu.file_upload %}
                                 <li><a href="{{block.value.url}}">{{second_menu.title}}</a></li>
                               {% endfor %}
                               {% else %}
                                 <li class="dropdown"><a href="#"><span>{{second_menu.title}}</span> <i class="bi bi-chevron-right"></i></a>
                               {%endif%}
                             {%endfor%}
                           </ul>
                         </li>
                       {%endif%}
                     {%endfor%}
                   </ul>
               {%endif%}
             {% endfor %}
             </ul> 
           </li>
          <li><a class="nav-link scrollto" href="{{page.get_parent.url}}#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

    <!-- ======= Portfolio Section ======= -->
    <section id="images" class="portfolio">
      <div class="container">

        <div class="blog-carousel">
          <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              {% for block in self.images %}
                        {% if block.block_type == 'image_block' %}
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"
                          aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                        {% endif %}
                      {% endfor %}
            </div>
            <div class="carousel-inner">
              {% for block in self.images %}
                        {% if block.block_type == 'image_block' %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                          {% image block.value.image original class="d-block w-100 blog-carousel"%}
                        </div>
              {% endif %}
              {% endfor %}
             
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>


      </div>
    </section>

    <section id="detail" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <div class="fs-5"> {{ self.body|richtext }}</div>
        </div>

    
      </div>
    </section>

    <!-- ======= Team Section ======= -->
    

   

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-3"></div>
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3 class="logo">
                <a href="/">
                    <img src="{% static 'assets/img/logo2.png'%}" alt="Kinslee Logo" class="footer-logo">
                </a>
              </h3>
              <h3>Kinslee Enterprises Limited</h3>
              <p class="pb-3"><em>{{home.address}}</em></p>
              <p>
               
                <br>
                <strong>Phone/WhatsApp:</strong> {{home.phone}}<br>
                <strong>Email:</strong> {{home.email}}<br>
              </p>
             
            </div>
          </div>

          <div class="col-lg-4 col-md-3"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Kinslee Enterprises Limited</span></strong>. All Rights Reserved
      </div>
     
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>

{% endblock content %}